body {
  font-family: Montserrat, sans-serif;
}

.navbar-brand {
  background-image: url("../assets/workout-planner-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  width: 48px;
  height: 48px;
}

.navbar-nav .nav-item:hover {
  background-color: #9db2c06e;
}
