<!DOCTYPE html>
<html>

<body>
    <h1>Playlist</h1>
    <h2>custWorkoutPlaylistGen:item</h2>
    <p>
        Leads to a resource that is used for requesting playlist from the backend for corresponding playlist_id.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:edit</h2>
    <p>
        Describes how to update playlist with the given playlist_id
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:delete</h2>
    <p>
        Link to delete the playlist.
        Only accessible by the X_API_key.
    </p>
</body>

</html>