<!DOCTYPE html>
<html>

<body>
    <h2>Workout</h2>
    <p>
        This is responsible for handling functions related to workout resource
    </p>
    <h3>Attributes</h3>
    <ul>
        <li><b>duration:</b> Duration of the workout in minutes (float)</li>
        <li><b>equipment:</b> Equipment required for the workout (e.g., treadmill, none) (string)</li>
        <li><b>workout_id:</b> Unique identifier for the workout (integer)</li>
        <li><b>workout_intensity:</b> Intensity level of the workout (e.g., low, medium, high) (string)</li>
        <li><b>workout_name:</b> Name of the workout (string)</li>
        <li><b>workout_type:</b> Type of the workout (string)</li>
    </ul>
    <h2>Workout Plan</h2>
    <p>
        This is responsible for handling functions related to workout plan resource
    </p>
    <h3>Attributes</h3>
    <ul>
        <li><b>duration:</b> Total duration of the workout plan (float)</li>
        <li><b>plan_name:</b> Name of the workout plan (string)</li>
        <li><b>playlist_id:</b> ID of the playlist (integer)</li>
        <li><b>user_id:</b> ID of the user (integer)</li>
    </ul>
    <h2>User</h2>
    <p>
        This is responsible for handling functions related to user resource
    </p>
    <h3>Attributes</h3>
    <ul>
        <li><b>email:</b> The user's email address (string)</li>
        <li><b>height:</b> The user's height in centimeters. (float)</li>
        <li><b>password:</b> The user's password. (string)</li>
        <li><b>user_type:</b> The type of user (admin or regular user). (string)</li>
        <li><b>weight:</b> The user's weight in kilograms. (float)</li>
    </ul>
    <h2>Song</h2>
    <p>
        This is responsible for handling functions related to song resource
    </p>
    <h3>Attributes</h3>
    <ul>
        <li><b>song_artist:</b> Artist of the song (string)</li>
        <li><b>song_duration:</b> Duration of the song in minutes (float)</li>
        <li><b>song_genre:</b> Genre of the song (string)</li>
        <li><b>song_id:</b> Unique identifier for the song (integer)</li>
        <li><b>song_name:</b> Name of the song (string)</li>
    </ul>
    <h2>Playlist</h2>
    <p>
        This is responsible for handling functions related to playlist resource
    </p>
    <h3>Attributes</h3>
    <ul>
        <li><b>playlist_duration:</b> Total duration of the playlist (float)</li>
        <li><b>playlist_id:</b> ID of the playlist (integer)</li>
        <li><b>playlist_name:</b> Name of the playlist (string)</li>
        <li><b>songs_list:</b> Array od songs (string)</li>
    </ul>
</body>

</html>