<!DOCTYPE html>
<html>

<body>
    <h1>Song</h1>
    <h2>custWorkoutPlaylistGen:collection</h2>
    <p>
        List all songs from the backend.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:song-all</h2>
    <p>
        List all playlist_ids for a particular song from the backend.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:item</h2>
    <p>
        Leads to a resource that is used for requesting song from the backend for the corresponding song_id.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:edit</h2>
    <p>
        Describes how to update song with the given song_id
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:delete</h2>
    <p>
        Link to delete the song.
        Only accessible by the X_API_key.
    </p>
</body>

</html>