<!DOCTYPE html>
<html>

<body>
    <h1>Workout Plan</h1>
    <h2>custWorkoutPlaylistGen:playlist</h2>
    <p>
        Request the playlist from the backend for the given playlist_id.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:author</h2>
    <p>
        Request the user for a particular workout plan from the backend.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:item</h2>
    <p>
        Leads to a resource that is used for requesting workout plan from the backend for the corresponding workout_plan_id.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:edit</h2>
    <p>
        Describes how to update workout plan with the given workout_plan_id
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:delete</h2>
    <p>
        Link to delete the workout plan.
        Only accessible by the X_API_key.
    </p>
</body>

</html>