<!DOCTYPE html>
<html>

<body>
    <h1>Workout</h1>
    <h2>custWorkoutPlaylistGen:collection</h2>
    <p>
        List all workouts from the backend.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:up</h2>
    <p>
        List all workout plans for a particular workout from the backend.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:item</h2>
    <p>
        Leads to a resource that is used for requesting workout from the backend for the corresponding workout_id.
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:edit</h2>
    <p>
        Describes how to update workout with the given workout_id
        Only accessible with X_API_key.
    </p>
    <h2>custWorkoutPlaylistGen:delete</h2>
    <p>
        Link to delete the workout.
        Only accessible by the X_API_key.
    </p>
</body>

</html>